<div class="soltial-container">
  <p>Our partners help drive the success of your campaigns</p>

        <div class="line">
            <div>
                <p><img src="assets/Company logo (4).png" alt="Notification" /></p>
            </div>
               <div>
                <p><img src="assets/Company logo (3).png" alt="Notification" /></p>
            </div>
               <div>
                <p><img src="assets/Company logo (2).png" alt="Notification" /></p>
            </div>
               <div>
                <p><img src="assets/Company logo (1).png" alt="Notification" /></p>
            </div>
               <div>
                <p><img src="assets/Company logo.png" alt="Notification" /></p>
            </div>
        </div>
       

</div>

