<!-- <div *ngIf="campaign" class="campaign-detail">
  <img [src]="campaign.imageUrl" [alt]="campaign.name" class="w-full mb-4" />

  <h2>{{ campaign.name }}</h2>
  <p>{{ campaign.description }}</p>

  <div class="goal">
    Goal: {{ campaign.goal | currency }}
  </div>
  <div class="amount">
    Current: {{ campaign.currentAmount | currency }}
  </div>

  <h3>Donors</h3>
  <ul>
    <li *ngFor="let donor of campaign.donors">
      {{ donor.name }} donated {{ donor.amount | currency }}
    </li>
  </ul>
</div>


<div *ngIf="errorMessages.length > 0" class="alert alert-warning mt-3">
  <p *ngFor="let msg of errorMessages">{{ msg }}</p>
</div> -->
