

<div class="details-container" >
    <div *ngIf="errorMessages.length > 0" class="alert-banner">
    <span *ngFor="let msg of errorMessages">{{ msg }}</span>
  </div>

    <section class="hero container">
      <nav class="breadcrumb">
        <a routerLink="/campaigns">Campaigns</a>
        <span>.</span>
        <span>{{ campaign?.name || 'Details' }}</span>
      </nav>
    <p class="hero-title">Masjid Area Extension</p> 
  </section>
  <section class="content-section" *ngIf="campaign">
    <div class="row">
      <div class="column-left">
        <img [src]="campaign.imageUrl" [alt]="campaign.name" height="560" width="100%" class="campaign-image" />
      </div>
      <div class="column-right">
        <div style="display: flex;flex-direction: column;gap: 12px;">
            <h3 class="subheading">{{ campaign.name }}</h3>
            <p class="heading">{{ campaign.description }}</p>

        </div>
      
       <section class="progress-section">
          <div class="progress-container">
             <div class="progress-bar" [style.width.%]="percentValue"></div>
          </div>
        <div class="amounts">
         
          <div class="amount-item">

            
            <span class="amount-value">{{ campaign.goal | currency }}</span>
            <span class="amount-label">Campaign Target</span>
          </div>
           <div class="amount-item">
            <span class="amount-value">{{ percentValue | number: '1.0-0' }}%</span>
            <span class="amount-label">Campaign Target Achieved</span>
          </div>
           <div class="amount-item">
            <span class="amount-value">{{ campaign.currentAmount | currency }}</span>
            <span class="amount-label">Raised Funds</span>
          </div>
            <div class="amount-item">
            <span class="amount-value">{{ campaign.donors.length }}+</span>
            <span class="amount-label">Donors</span>
          </div>
        </div>
        </section>
      </div>
      
    </div>
  </section>

  <section class="donors-section" *ngIf="campaign">

    <h3 class="section-title">Champions of the Cause</h3>
    <ul class="donors-list">
      <li *ngFor="let donor of campaign.donors" class="donor">
      <div class="item">
        <span class="donor-name">
          <span style="display: block;">
              {{ donor.name }}
          </span>
          <span style="display: block;">
            <div style="display: flex; flex-direction: row;gap: 8px;">
           <span style="color: var(--muted);">$</span>
          <span  style="color: var(--muted);">{{ donor.amount | number: '1.0-0' }}</span>
     </div>

          </span>
        </span>
        
        <span class="donor-amount">
             <span *ngIf="donor.new" class="new-badge">New</span>
             </span>
          </div>
      </li>
    </ul>
   
  </section>

  <section class="donate-form-section">
    <app-donate-form></app-donate-form>
  </section>
  <section class="sotial-notify-section">
    <app-sotial-notify></app-sotial-notify>
  </section>
