<header class="site-header">
  <div class="container header-inner">
    <div class="logo">
    <img src="assets/Logo.png" alt="Crowdfund logo" width="139" height="32"> 
      <!-- <img src="assets/Logomark.png" alt="Crowdfund logo" width="36" height="36">
      <span class="brand">Crowdfund</span> -->
      <nav class="nav-links">
        <a href="#">Campaigns</a>
        <a href="#">About</a>
      </nav>
    </div>

    <button class="menu-toggle" aria-label="Toggle menu">
      ☰
    </button>
    <div class="auth">
      <a class="login">Log in</a>
      <button class="btn-primary">Sign up</button>
    </div>
  </div>
</header>
