<div class="card-wrapper" (click)="goDetail()">
  <div class="card">
    <div class="card-image">
      <img [src]="campaign.imageUrl" alt="{{ campaign.name }}" />
    </div>

    <div class="card-body">
        <div class="progress-container">
        <div class="progress-bar" [style.width.%]="percent"></div>
        </div>
      <h3 class="card-title">{{ campaign.name }}</h3>


      <div class="card-stats">
        <span>Target: {{ campaign.goal | currency }}</span>
        <span>Raised: {{ campaign.currentAmount | currency }}</span>
      </div>
    </div>
  </div>
</div>
