

@import '../../../../styles.scss';
.hero {
  height: 376px;
  padding: 0 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    h5 {
        font-weight: 600;
    display: block;
    color: $primary-color;
    line-height: 24px;
  }
h1{
    font-size: $h1-size;
    display: block;
    color: $text-color-dark;
    font-weight: 700;
    line-height: 24px;
}

  p {
    font-size: 20px;
    text-align: center;
    color: $text-color-gray;
        line-height: 24px;
  }
}
